<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="referrer" content="never">
    <link href="<%= htmlWebpackPlugin.options.staticPath %>/favicon.ico" rel="shortcut icon" />
    <title>首页</title>
    <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
  <link rel=stylesheet href="<%= htmlWebpackPlugin.options.staticPath %>/css/iosSelect.css" />
  <link rel=stylesheet href="<%= htmlWebpackPlugin.options.staticPath %>/css/swiper.min.css" />
  <link rel=stylesheet href="<%= htmlWebpackPlugin.options.staticPath %>/css/common.css" />

  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/clipboard.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/swiper.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/iosSelect.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/areaData_v2.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/cos-js-sdk-v5.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/exif.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/iscroll-zoom.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/hammer.js"></script>
  <script src="<%= htmlWebpackPlugin.options.staticPath %>/js/jqueryPhotoClip.js"></script>

</html>
